<div class="container">
  <!-- Content here -->
  <%# users container %>
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
  
      <%= image_tag(@user.avatar, :class => "blogger_avatar") %>
      <p class="blogger_name"><%= @user.name.upcase %></p>
  
    </div>
  </div>
<%#  blogs container  %>
    <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-sm-4">
          <div class="thumbnail">
            <%= link_to(blog) do %>
              <%= image_tag(blog.image || asset_url("default_image_blog.png"), :style => "width:100%") %>
              <div class="caption">
                <h3><%= blog.title %></h3>
              </div>
            <% end %>
          </div>
      </div>
      <% end %>
    </div>

</div>
