<div class="container">
  <!-- Content here -->
  <%# users container %>
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
  
      <%= image_tag(@user.avatar, :class => "blogger_avatar") %>
      <p class="blogger_name"><%= @user.name.upcase %></p>
  
    </div>
  </div>
<%#  blogs container  %>
  <% @blogs.each do |blog| %>
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <%= link_to blog do %>
          <div class="card mb-3">
            <div class="card-header"><%= blog.created_at.strftime("%B %d, %Y") %></div>
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <div class="blog_body">
                <%= truncate(blog.body.html_safe, length: 300, escape: false) %>
              </div>
              <%=  %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  <% end %>
  
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
      <%= paginate @blogs %>
    </div>
  </div>


</div>
