
<div class="container">
  <!-- Content here -->
  <%# users container %>
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
  
      <%= image_tag(@user.avatar, :class => "blogger_avatar") %>
      <p class="blogger_name"><%= @user.name.upcase %></p>
  
    </div>
  </div>
<%#  blog container  %>
  <div class="row justify-content-md-center">
     <div class="col-sm-6 col-sm-offset-3">
      <p><%= @blog.created_at.strftime("%B %d, %Y") %></p>
      <h3><%= @blog.title %></h3>

      <%= image_tag(@blog.image || asset_url("default_image_blog.png"), :class => "img-thumbnail rounded-0") %>
      <div class="blog_body">
        <%= @blog.body.html_safe %>
      </div>
      <%= button_to 'Back', blogs_path, method: :get %>
    </div>
  </div>

</div>
