<!DOCTYPE html>
<html>
  <head>
    <title>MusaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%# 
  Define your css assets per controller and controller_action
  app/stylesheets/controllers/<your controller name> 

  Eg: app/stylesheets/controllers/password_resets.css.scss

  body.password_resets  {

    // index 
    .index { 		//your awesome css code for index 
    }
    // show 
    .show { 		//your awesome css code for show 
    }
    // new
    .new { 		//your awesome css code for new 
    }
    // create
    .create { 		//your awesome css code for create 
    }
  }

%> 

  <body class=<%= "#{controller.controller_path.parameterize.gsub('-', '_')}" %> >
    <div class=<%= "#{controller.action_name}" %>>
      <%= yield %>
    </div>
  </body>
</html>
